@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536px;
  width: 86%;
  margin: 0 auto;
}

/* *for headers  */
h1 {
  font-size: 45px;
  text-align: center;
}

h2 {
  color: #00ffff;
  font-size: 40px;
  text-align: center;
  text-shadow: 10px 10px 10px #00ffff;
}

/*=================================
  Header styling starts here
=================================*/

header {
  padding: 10px 0;
  background-color: #381F70;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 11px;
  border-top-left-radius: 20px;
  background: #000;
}

.logo a {
  color: #fff;
  font-size: 24px;
}

.hamburger,
.cross {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: none;
  text-indent: -9999px;
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  flex-basis: 30%;
}


.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  color: #ffff00;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.menus ul li a:hover {
  color: #00ffff;
}

.page-blur {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.8);
  text-indent: -9999px;
}

.page-show {
  display: block;
}

.page-hide {
  display: none;
}

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-field {
  margin-top: 0;
  border-color: transparent;
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
}

.search-field:focus {
  border-color: #ffff00;
}

.search-button,
.closeresult {
  padding: 4%;
  border: 3px solid rgb(0, 0, 0, 0.6);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  color: #ffff00;
  text-indent: -9999px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.search-button::before,
.closeresult::before {
  content: "\f002";
  float: right;
  font-family: "fontAwesome";
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.closeresult::before {
  content: "\f00d";
}

.search-button:hover,
.closeresult:hover {
  border-color: #00ffff;
  background-color: transparent;
}

.search-button:hover::before,
.closeresult:hover:before {
  color: #00ffff;
}

.search-result {
  width: auto;
  padding: 10px;
  margin-top: 10px;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  z-index: 20;
  top: 100%;
  background: rgb(0, 0, 0, 0.6);
}

.show-flex {
  display: flex;
}

.search-result li {
  color: #fff;
  white-space: nowrap;
}

.search-result li a {
  color: #fff;
}

.logout {
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-image: linear-gradient(45deg, #ff0000, transparent);
  background-image: -webkit-linear-gradient(45deg, #ff0000, transparent);
  background-image: -moz-linear-gradient(45deg, #ff0000, transparent);
  background-image: -o-linear-gradient(45deg, #ff0000, transparent);
  color: #ffff00;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.logout:hover {
  background-color: transparent;
  color: #00ffff;
}


/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

main {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://motionarray.imgix.net/preview-637482E3duBV7cp_0014.jpg?w=660&q=60&fit=max&auto=format);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  background-position: center;
  color: #fff;
}

main .wrapper {
  padding: 30px;
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
  background-color: rgb(138, 43, 226, 0.4);
}

/* login page styling start  */

.login-page {
  min-height: 100vh;
}

.login-page .wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameerror,
.passworderror {
  margin-top: 5px;
  display: block;
  color: #ffa500;
  text-align: center;
}

.errorbox {
  border: 5px solid #ff0000;
}

form {
  width: 50%;
  margin-top: 50px;
}

input {
  width: 100%;
  padding: 13px 33px;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  width: auto;
  padding: 13px;
  margin: 20px auto;
  border: 1px solid #0000ff;
  background-image: linear-gradient(45deg, #0000ff, transparent);
  background-image: -webkit-linear-gradient(45deg, #0000ff, transparent);
  background-image: -o-linear-gradient(45deg, #0000ff, transparent);
  background-image: -moz-linear-gradient(45deg, #0000ff, transparent);
  color: #fff;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #fff;
}

/* login page styling end  */
/* movie and tv show category pages styling start  */
.movie-content,.tv-content,.news-content {
  position: relative;
  text-align: center;
}

.slider {
  margin-top: 50px;
}

.movie-categoery,
.tvshow-categoery {
  padding: 20px 0;
}

.view-details,.addto-watchlist,
.removefrom-watchlist {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 15px;
  display: inline-block;
  background-image: linear-gradient(45deg, #000, transparent);
  background-image: -webkit-linear-gradient(45deg, #000, transparent);
  background-image: -moz-linear-gradient(45deg, #000, transparent);
  background-image: -o-linear-gradient(45deg, #000, transparent);
  color: #fff;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.view-details {
  width: 50%;
  margin: 20px auto;
  display: block;
}


.view-details:hover {
  background-image: linear-gradient(-45deg, #000, transparent);
  background-image: -webkit-linear-gradient(-45deg, #000, transparent);
  background-image: -moz-linear-gradient(-45deg, #000, transparent);
  background-image: -o-linear-gradient(-45deg, #000, transparent);
  color: #00ffff;
}

.hover-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(0, 0, 0, 0.6);
  font-size: 25px;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.movie-content:hover > .hover-content , .tv-content:hover > .hover-content , .news-content:hover > .hover-content {
  display: block;
}

.top-rated {
  margin-top: 15px;
}

.view-more-box {
  text-align: center;
}

.view-more {
  margin-top: 15px;
  background-image: linear-gradient(45deg, #0000ff, transparent);
  background-image: -webkit-linear-gradient(45deg, #0000ff, transparent);
  background-image: -o-linear-gradient(45deg, #0000ff, transparent);
  background-image: -moz-linear-gradient(45deg, #0000ff, transparent);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.view-more:hover {
  background-image: linear-gradient(-45deg, #0000ff, transparent);
  background-image: -webkit-linear-gradient(-45deg, #0000ff, transparent);
  background-image: -moz-linear-gradient(-45deg, #0000ff, transparent);
  background-image: -o-linear-gradient(-45deg, #0000ff, transparent);
  color: #00ffff;
}

/* movie and tv show category styling end  */
/* paginated list page styling start  */

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,.next {
  padding: 0 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.prev:hover,.nex:hover {
  color: #00ffff;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.current {
  padding: 1px 8px;
  border: 2px solid #ffff00;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.paginated-contents {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.page-item {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-item .view-details {
  width: auto;
  margin: auto 0 auto auto;
}

.page-item-image,
.pagination-title {
  margin-right: auto;
}

.pagination-title,
.wa {
  color: #ffa500;
}

.title {
  margin-top: 20px;
  color: #ffa500;
  font-size: 20px;
}

.title,
.rate-us,
.pagination-title {
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.title:hover {
  color: #00ffff;
}

.pagination-title:hover {
  color: #00ffff;
}

.page-item-image {
  width: 25%;
}

.rate-us {
  cursor: pointer;
  white-space: nowrap;
}

.rate-us:hover {
  color: #00ffff;
}

/* paginated list page styling end  */
/* details page styling start  */

.details .wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.details .wrapper h2 {
  color: orange;
  text-shadow: 10px 10px 10px;
}

.details figure {
  width: 50%;
}

.details-overview {
  width: 50%;
  color: #7fff00;
  font-size: 27px;
  text-align: center;
}

.more-details {
  text-align: center;
}

.more-details p {
  margin-top: 20px;
  display: block;
  color: yellow;
  font-size: 30PX;
}

.more-details p:first-child {
  margin-top: 0;
}

.text-red {
  margin-top: 10px;
  color: #ff0000;
  display: block;
  text-shadow: 10px 10px 10px;
}

.details .addto-watchlist,
.details .rate-us {
  margin: 0;
}

.rate-us {
  margin-top: 15px;
  display: block;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.rate-us:hover {
  color: #00ffff;
}

.rate-us::before {
  content: "\f005";
  margin-right: 2%;
  color: #ffff00;
  font-family: "fontAwesome";
}

.rate-us {
  white-space: nowrap;
}

.details .item-id {
  display: none;
}

.rating-background {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.8);
}

.rating-box {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #8b0000;
}

.rating-stars {
  display: flex;
  flex-direction: row-reverse;
}

.rating-stars  input{
  display: none;
}

.rating-stars label {
  padding: 0 10px;
  display: inline-block;
  text-indent: -9999px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.rating-stars label::before {
  content: "\f005";
  float: right;
  font-family: "fontAwesome";
  font-size: 30px;
  text-indent: 0;
}

.rating-stars input:not(:checked) ~ label:hover,
.rating-stars input:not(:checked) ~ label:hover ~ label {
 color: #ffff00;
}

.rating-stars input:checked ~ label {
  color: #ffff00;
}

textarea {
  width: 100%;
}

.submit-response,.submit-empty-response {
  display: none;
}

.submit-response span {
  font-size: 20px;
}

.submit-response span:after,.submit-empty-response::after {
  content: "\f118";
  margin-left: 5px;
  font-family: "fontAwesome";
}

.submit-empty-response::after {
  content: "\f119";
}

.close-rating-box {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffff00;
  text-indent: -9999px;
}

.close-rating-box::before {
  content: "\f00d";
  float: right;
  color: #0000ff;
  font-family: "fontAwesome";
  text-indent: 0;
}

.addto-watchlist:hover {
  background-image: linear-gradient(-45deg, #000, transparent);
  background-image: -webkit-linear-gradient(-45deg, #000, transparent);
  background-image: -moz-linear-gradient(-45deg, #000, transparent);
  background-image: -o-linear-gradient(-45deg, #000, transparent);
  color: #00ffff;
}


.addto-watchlist::after {
  content: "\f067";
  margin-right: 2%;
  color: #ffff00;
  display: block;
  font-family: "fontAwesome";
}



/* details page styling end  */
/* watchlist page styling start  */

.watchlist-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.watchlist-item {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
}

.watchlist-item-image {
  width: 25%;
  margin-right: auto;
}

.watchlist-title {
  margin-right: auto;
  color: #ffa500;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.watchlist-title:hover {
  color: #00ffff;
}

.watchlist-id {
  display: none;
}


/* watchlist page styling end   */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  padding: 10px 0;
  background-color: #381F70;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: #ffff00;
  font-size: 15px;
}

.social-links li a {
  text-indent: -9999px;
}

.social-links li a::before {
  content: "\f09a";
  padding: 4px 6px;
  border-radius: 100%;
  float: right;
  color: #ffff00;
  font-family: "fontAwesome";
  font-size: 23px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.social-links li a:hover:before {
  color: #00ffff;
}

.social-links li:nth-child(2) a::before {
  content: "\f16d";
}

.social-links li:nth-child(3) a::before {
  content: "\f099";
}

.footer-links {
  margin: 0 2% 0 auto;
}

.footer-links li a {
  padding-right: 5px;
  color: #ffff00;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.footer-links li a:hover {
  color: #00ffff;
}

.footer-links li:first-child {
  border-right: 1px solid #ffff00;
}



/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }

  footer .wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .footer-links {
    margin: 0;
  }

  .details-overview {
    width: 80%;
  }

}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  h2 {
    font-size: 23px;
  }


  header .wrapper {
    position: relative;
  }

  .menus {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    background-color: rgb(255, 0, 0, 0.5);
    transform: translateY(-500px);
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
  }

  .headermenus-show {
    z-index: 1;
    transform: translateY(0);
  }

  .menus ul,
  .headermenus-show ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .hamburger {
    margin-left: auto;
    display: block;
  }

  .details-overview {
    width: 100%;
    font-size: 16px;
  }

  .more-details p {
    font-size: 20px;
  }

}