@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  padding: 10px 0;
  background-color: #FA320A;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 11px;
  background: #000;
}

.logo a {
  color: #fff;
  font-size: 24px;
}

.hamburger,
.cross {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  text-indent: -9999px;
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  flex-basis: 30%;
}

.headermenus-show {
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #ff0000;
  transform: translateX(0);
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  color: #ffff00;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.menus ul li a:hover {
  color: #00ffff;
}

.searchbar {
  display: flex;
  align-items: center;
}

.search-field {
  margin-top: 0;
  border: none;
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
}

.search-button {
  padding: 5%;
  border-radius: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
  text-indent: -9999px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.search-button:hover::before {
  color: #00ffff;
}

.search-button::before {
  content: "\f002";
  float: right;
  font-family: "fontAwesome";
  text-indent: 0;
}

.logout {
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.logout:hover {
  color: #00ffff;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main {
  width: 100%;
  background-image:url(https://us.123rf.com/450wm/hugolacasse/hugolacasse1603/hugolacasse160300013/53756518-illustration-of-a-film-stripe-reel-on-abstract-movie-background.jpg?ver=6);
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  background-blend-mode: luminosity;
  background-position: center;
  color: #fff;
}

.login-page {
  min-height: 100vh;
}

.login-page .wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameerror,.passworderror {
  margin-top: 5px;
  display: block;
  color: #ffa500;
  text-align: center;
}

.errorbox {
  border: 5px solid #ff0000;
}

h1 {
  font-size: 45px;
  text-align: center;
}

h2 {
  color: #ffe4c4;
  font-size: 35px;
}

form {
  width: 50%;
  margin-top: 50px;
}

input {
  width: 100%;
  padding: 13px 33px;
  margin-top: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  width: auto;
  padding: 13px;
  margin: 20px auto;
  background-color: #6495ed;
  color: #fff;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

input[type="submit"]:hover {
  background-color: #00ffff;
  color: #ff0000;
}

.movie-content figure {
  width: 150px;
  height: 150px;
}

.movie-slider {
  margin-top: 10px;
  display: flex;
}

.rate-movie {
  margin-top: 15px;
  display: block;
}

.addto-watchlist {
  margin-top: 15px;
  display: block;
}

.top-rated {
  margin-top: 15px;
}





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  